In [1]:
from src.utils import *

In [11]:
votes = pd.read_csv('./data/meneame/real-data/df_stories_votes.tsv.gz', sep='\t', compression='gzip')
membership = pd.read_csv('./results/meneame/real-data/membership_df.csv')

In [19]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (0.5,0.5)'] == 2]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

number of users in this small community: 8

         story_id                             username_vote  story_vote
1242425   3810783  7ee6e604ef1b52b55f4468bb931f1f8b94c841aa           1
1242427   3810783  aa4c00e8aadd1ebd4614f62e4991f64a2f9e94f1           1
1242428   3810783  0444b8330a2ca568d3813aa5f66407059d8ac2a3           1
1242434   3810783  f87b5f74d830adece532fb7d12aec9eddfc8a89c           1
1242436   3810783  104a9426a4e83502d492d6ff09ec29876b6b6582           1
1242437   3810783  3b3cc32ff14e530df051f3d53facd8bd8c42c513           1
1242438   3810783  4550b6f5dca8e2e3653e9f77598e7d6ccaff75b5           1
1242439   3810783  56438053000bd2e09274d83f6f53d892d43c05e3           1

In [29]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (0.5,0.5)'] == 4]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

number of users in this small community: 5

         story_id                             username_vote  story_vote
1295939   3809424  96ca9adbdb445340be877e018ae99e9aa18417f4           1
1295940   3809424  9dbd1502546b39b3de6f69b4139ac0cfd06f0bc5           1
1295942   3809424  94be57b2f53bb60079aafaff2f9850a2fae660e9           1
1295949   3809424  8a7e265fe5ac4d3056eb167ec183cf7e58479761           1
1428883   3820445  0aef6ffc52ab209a4905e80ef7aea28005a843a6           1

In [30]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (0.5,1)'] == 2]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

number of users in this small community: 8

         story_id                             username_vote  story_vote
1242425   3810783  7ee6e604ef1b52b55f4468bb931f1f8b94c841aa           1
1242427   3810783  aa4c00e8aadd1ebd4614f62e4991f64a2f9e94f1           1
1242428   3810783  0444b8330a2ca568d3813aa5f66407059d8ac2a3           1
1242434   3810783  f87b5f74d830adece532fb7d12aec9eddfc8a89c           1
1242436   3810783  104a9426a4e83502d492d6ff09ec29876b6b6582           1
1242437   3810783  3b3cc32ff14e530df051f3d53facd8bd8c42c513           1
1242438   3810783  4550b6f5dca8e2e3653e9f77598e7d6ccaff75b5           1
1242439   3810783  56438053000bd2e09274d83f6f53d892d43c05e3           1

In [45]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,0.5)'] == 4]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id'], sort=True).head(10)

number of users in this small community: 39

story_id
3756449     7
3780419     5
3812901     5
3837950     4
3835349     4
3753076     4
3821135     4
3837977     4
3773285     4
3833432     3
Name: count, dtype: int64

In [47]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,0.5)'] == 5]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 121

story_id  story_vote
3770905    1            13
3756449   -1             8
3774583    1             8
3807203    1             7
3806467    1             7
3763601    1             7
3797727   -1             7
3770489   -1             7
3810807   -1             6
3760800    1             6
Name: count, dtype: int64

In [49]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,0.5)'] == 7]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 28

story_id  story_vote
3772854   1             6
3817771   1             4
3783599   1             3
3840494   1             3
3787258   1             3
3820008   1             3
3840480   1             3
3777446   1             3
3757313   1             3
3794980   1             3
Name: count, dtype: int64

In [50]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,0.5)'] == 8]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 10

story_id  story_vote
3755977   1             10
3755912   1              9
3756093   1              1
Name: count, dtype: int64

In [55]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,0.5)'] == 9]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 17

story_id  story_vote
3838605   1             3
3781214   1             2
3787610   1             2
3824118   1             2
3801286   1             2
3805407   1             2
3801085   1             2
3835744   1             2
3805556   1             2
3836927   1             2
Name: count, dtype: int64

In [60]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,1)'] == 4]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 13

story_id  story_vote
3755977   1             10
3755912   1              9
3781970   1              3
3805678   1              3
3756093   1              1
3807885   1              1
Name: count, dtype: int64

In [68]:
# take rows when the user is in the community 2
users_1 = membership[membership['spinglass (1,1)'] == 5]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 9

story_id  story_vote
3770905   1             9
Name: count, dtype: int64

In [73]:
# take rows when the user is in the community 2
users_1 = membership[membership['sponge (k = 2)'] == 1]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 37

story_id  story_vote
3838383   -1            24
3838375   -1            18
3838336   -1            14
3838411   -1            13
3838333   -1            12
3838381   -1            10
3838317   -1             8
3838285   -1             8
3838466   -1             7
3838335   -1             5
Name: count, dtype: int64

In [79]:
# take rows when the user is in the community 2
users_1 = membership[membership['sponge (k = 3)'] == 2]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 37

story_id  story_vote
3838383   -1            24
3838375   -1            18
3838336   -1            14
3838411   -1            13
3838333   -1            12
3838381   -1            10
3838317   -1             8
3838285   -1             8
3838466   -1             7
3838335   -1             5
Name: count, dtype: int64

In [78]:
# take rows when the user is in the community 2
users_1 = membership[membership['sponge (k = 3)'] == 1]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 8

story_id  story_vote
3810783   1             8
Name: count, dtype: int64

In [82]:
# take rows when the user is in the community 2
users_1 = membership[membership['sponge (k = 4)'] == 1]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 37

story_id  story_vote
3838383   -1            24
3838375   -1            18
3838336   -1            14
3838411   -1            13
3838333   -1            12
3838381   -1            10
3838317   -1             8
3838285   -1             8
3838466   -1             7
3838335   -1             5
Name: count, dtype: int64

In [84]:
# take rows when the user is in the community 2
users_1 = membership[membership['sponge (k = 4)'] == 3]['username_vote'].unique().tolist()
print(f'number of users in this small community: {len(users_1)}')
votes_1 = votes[votes['username_vote'].isin(users_1)]
votes_1[['story_id', 'username_vote', 'story_vote']]

votes_1.value_counts(['story_id', 'story_vote'], sort=True).head(10)

number of users in this small community: 8

story_id  story_vote
3810783   1             8
Name: count, dtype: int64